<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lotka.ndksamples">

    <application
        android:allowBackup="true"
        android:icon="@drawable/appcion"
        android:label="Ndk Samples"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ndk_hello_world">
        <activity android:name="org.lotka.ndksamples.A1121Activity"></activity>
        <activity android:name="org.lotka.ndksamples.jnilistActivity" />
        <activity android:name="org.lotka.ndksamples.MyChangeActivity" />
        <activity android:name="org.lotka.ndksamples.ChangeVarActivity" />
        <activity android:name="org.lotka.ndksamples.TimeActivity" />
        <activity android:name="org.lotka.ndksamples.CalcActivity" />
        <activity android:name="org.lotka.ndksamples.SendAndChangeStringActivity" />
        <activity android:name="org.lotka.ndksamples.SendRetriveDataActivity" />
        <activity android:name="org.lotka.ndksamples.HelloWorldActivity" />
        <activity android:name="org.lotka.ndksamples.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>