<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lotka.ndk_hello_world">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ndk_hello_world">
        <activity android:name=".A1121Activity"></activity>
        <activity android:name=".jnilistActivity" />
        <activity android:name=".MyChangeActivity" />
        <activity android:name=".ChangeVarActivity" />
        <activity android:name=".TimeActivity" />
        <activity android:name=".CalcActivity" />
        <activity android:name=".SendAndChangeStringActivity" />
        <activity android:name=".SendRetriveDataActivity" />
        <activity android:name=".HelloWorldActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>